@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

.header {
    .header-top {
        background: #005ec4;
        text-align: right;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        height: 36px;
        display: flex;
        align-items: center;
    }
    .header-main {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-logo {
                img {
                    max-height: 70px;
                }
            }
        }
        .search-box {
            border: 1px solid #005ec4;
            height: 48px;
            display: flex;
            width: 600px;
            justify-content: space-between;
            position: relative;
            box-sizing: border-box;
            div {
                width: 90%;
                display: flex;
                align-items: center;
            }
            .search-box-keyword {
                input {
                    border: 0;
                    display: inline-block;
                    padding: 5px 5px 5px 32px;
                    width: 100%;
                    box-sizing: border-box;
                    outline: none;
                    height: 100%;
                    font-size: 16px;
                }
            }
            .search-box-select {
                display: flex;
                align-items: center;
                position: relative;
                width: 61px;
                .search-box-select-title {
                    position: relative;
                    font-size: 16px;
                    cursor: pointer;
                    width: 100%;
                    text-align: right;
                    margin-right: 115px;
                }
                .search-box-select-content {
                    display: none;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    box-shadow: 0 4px 8px rgba(194, 198, 201, 0.32);
                    z-index: 9;
                    background: #fff;
                    height: 500px;
                    overflow: auto;
                }
            }
        }
    }
    .header-login {
        background: #29324e;
        display: flex;
        padding: 10px;
        cursor: pointer;
        position: relative;
        color: white;
        min-width: 120px;
        height: 48px;
        .header-login-icon {
            font-size: 24px;
            margin-right: 10px;
        }
        .header-login-title {
            display: flex;
            // align-items: center;
            justify-content: center;
            font-size: 18px;
            max-width: 120px;
            color: white;
            overflow: hidden;
        }
    }
    .header-cart {
        background: #29324e;
        display: flex;
        padding: 10px;
        cursor: pointer;
        position: relative;
        .head-cart-icon {
            margin-right: 25px;
        }
        .head-cart-amount {
            display: flex;
            width: 100%;
            height: 28px;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 16px;
            background: #fff200;
            color: #29324e;
            padding: 0 4px;
        }
    }
    .header-bottom {
        background-color: #eef0f7;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            min-height: 50px;
            .header-bottom-left {
                display: flex;
                align-items: center;
                .header-bottom-item {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 15px;
                    padding: 15px 16px;
                    color: #29324e;
                    cursor: pointer;
                    .text {
                        margin-left: 15px;
                        margin-right: 15px;
                        text-decoration: none;
                        color: #29324e;
                        font-size: 16px;
                    }
                    .mega-menu {
                        position: absolute;
                        padding-left: 0;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        min-height: 300px;
                        background: #fff;
                        border: 1px solid #d2d2d2;
                        border-top: 0 solid #d2d2d2;
                        visibility: hidden;
                        opacity: 0;
                        transition-duration: 0.2s;
                        z-index: 99;
                        .mega-menu-item {
                            width: 100%;
                            padding: 0;
                            position: static;
                            color: #535353;
                            display: block;
                            float: left;
                            clear: none;
                            width: 100%;
                            .mega-menu-category {
                                width: 254px;
                                float: left;
                                background: #fff;
                                padding: 16px;
                                margin: 0;
                                display: flex !important;
                                align-items: center;
                                justify-content: space-between;
                                border-bottom: 1px solid #ededed;
                                // text-transform: uppercase;

                                color: #000;
                                font-size: 16px;
                                font-weight: 500;
                                text-decoration: none;
                                box-sizing: border-box;
                                display: inline-block;
                                &:hover {
                                    background-color: #005ec4;
                                    color: #fff;
                                }
                            }
                            .mega-sub-menu {
                                width: calc(100% - 534px);
                                float: left;
                                clear: none;
                                position: absolute;
                                top: 0;
                                left: 254px;
                                padding: 10px;
                                min-height: 100%;
                                visibility: hidden;
                                opacity: 0;
                                display: block;
                                box-sizing: border-box;
                                h4 {
                                    padding: 10px;
                                    font-weight: 700;
                                    font-size: 20px;
                                    align-items: center;
                                    color: #005ec4;
                                    text-transform: uppercase;
                                    a {
                                        text-decoration: none;
                                        color: #005ec4;
                                    }
                                }
                                .mega-menu-sub-item {
                                    width: 50% !important;
                                    color: #535353;
                                    display: block;
                                    float: left;
                                    clear: none;
                                    width: 100%;
                                }
                                .mega-menu-sub-item-img {
                                    position: absolute;
                                    top: 0;
                                    right: -280px;
                                    max-width: 280px;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    .after-img {
                                        content: "";
                                        height: 100%;
                                        width: 100%;
                                        background: #005ec4;
                                        position: absolute;
                                        top: 0;
                                        left: 110px;
                                        z-index: 1;
                                        transform: skewX(-17deg);
                                    }
                                    img {
                                        max-width: 100%;
                                        z-index: 2;
                                    }
                                }
                                .mega-menu-sub-link {
                                    padding: 16px;
                                    display: flex !important;
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-decoration: none;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    &:hover {
                                        background-color: #e3edf6;
                                        color: #005ec4;
                                    }
                                }
                            }
                        }
                        .mega-menu-item:hover .mega-sub-menu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                .header-bottom-item:hover .mega-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .header-bottom-right {
                display: inline-flex;
                align-items: center;
                a {
                    padding: 10px 0 10px 20px;
                }
                img {
                    vertical-align: middle;
                }
                .choose-language {
                    display: flex;
                    span {
                        padding: 16px;
                        cursor: pointer;
                        font-size: 16px;
                        &:hover {
                        }
                    }
                    .language-vi {
                        &.active {
                            color: #ff0800;
                        }
                    }
                    .language-en {
                        &.active {
                            color: #29324e;
                        }
                    }
                }
            }
        }
    }
}
div {
    display: block;
}
.container {
    width: 1110px;
    margin: auto;
}
* {
    font-family: "Chakra Petch", sans-serif;
}
