.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(57, 101, 223);
    font-size: 20px;
    &:hover {
        color: rgb(94, 124, 207) !important;
        background-color: transparent !important;
    }
}
.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(223, 57, 79);
    font-size: 20px;
    &:hover {
        color: rgb(207, 94, 113) !important;
        background-color: transparent !important;
    }
}
.btn-restore {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(57, 223, 121);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: rgb(107, 207, 94) !important;
        background-color: transparent !important;
    }
}
.btn-go-recyclebin {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #339af0;
    &:hover {
        opacity: 0.8;
    }
}
.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background: transparent !important;
                border: none;
                color: white;
                font-size: 32px;
            }
        }
    }
    .modal-user-body {
        gap: 15px;
        .input-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            input {
                border-radius: 3px;
                height: 30px;
                border: 1px solid gray;
                outline: none;
                padding: 0 10px;
                margin: 4px 0;
            }
        }
    }
    .body-flex {
        gap: 15px;
        display: flex;
        .input-flex {
            width: 50%;
            margin: 4px 0;
        }
    }
}
