.main-banner {
    margin: 50px 0;
    height: 444px;
    background-color: #eef0f7;
    .main-banner-content {
        height: 100%;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 0;
                background: rgba(238, 240, 247, 0.6);
            }
            .swiper-pagination-bullet-active {
                background: #29324e;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper {
            margin-left: auto;
            margin-right: auto;
        }
    }
    width: 1110px;
    margin: auto;
    margin-top: 32px;
}
